.btn-primary {
    background-color: #7B61FF;
    /* font-size: 1.25rem; */
  }

/* Text style */

body {
  font-family: 'Inter', sans-serif; /* famille de police */
  font-size: 16px; /* taille de police */
  line-height: 1.5; /* ligne de base */
  color: #333; /* couleur de texte */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roobert', sans-serif; /* famille de police */
  font-weight: 600; /* poids de police */
  line-height: 1.2; /* ligne de base */
}

a {
  color: #007bff; /* couleur de lien */
  text-decoration: none; /* style de soulignement de lien */
}

a:hover {
  text-decoration: underline; /* style de soulignement de lien au survol */
}

 


@font-face {
  font-family: 'Roobert';
  src: url('Font/Roobert-Regular.woff2') format('woff2'),
       url('Font/Roobert-Regular.woff') format('woff'),
       url('Font/Roobert-Regular.ttf') format('truetype'),
       url('Font/Roobert-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roobert Medium';
  src: url('Font/Roobert-Medium.woff2') format('woff2'),
       url('Font/Roobert-Medium.woff') format('woff'),
       url('Font/Roobert-Medium.ttf') format('truetype'),
       url('Font/Roobert-Medium.otf') format('opentype');
  font-weight: medium;
  font-style: medium;
}


@font-face {
  font-family: 'Roobert Semibold';
  src: url('Font/Roobert-SemiBold.woff2') format('woff2'),
       url('Font/Roobert-SemiBold.woff') format('woff'),
       url('Font/Roobert-SemiBold.ttf') format('truetype'),
       url('Font/Roobert-SemiBold.otf') format('opentype');
  font-weight: semibold;
  font-style: semibold;
}


@font-face {
  font-family: 'Roobert Bold';
  src: url('Font/Roobert-Bold.woff2') format('woff2'),
       url('Font/Roobert-Bold.woff') format('woff'),
       url('Font/Roobert-Bold.ttf') format('truetype'),
       url('Font/Roobert-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
}
  